
    <td><%= "#{flight.start_time.strftime("%d/%m/%Y")}" %></td>
    <td><%= "#{flight.start_time.strftime("%l:%M%P")}" %></td>
    <td><%= "#{flight.departure_airport.name}" %></td>
    <td><%= "#{flight.arrival_airport.name}" %></td>